#crystalscol {
    padding: 5%;
    margin-left: 75px;
}
img {
    margin: 3%;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: red;
    font-size: 60pt;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: blue;
    font-size: 35pt;
}
p {
    font-family: 'Raleway', sans-serif;
    color: rgb(201, 152, 30);
    font-size: 15pt;
}
.btn {
    background-color: Transparent;
}
